#youtube-shorts-controller-ui {
	margin: 0px 0px 5px 5px;
}

#youtube-shorts-controller-playback-rate-text {
	font-size: 1.5rem;
}

#youtube-shorts-controller-timestamp-text {
	font-size: 1.5rem;
}